
.App {
  min-height: 100%;
  text-align: center;
  }


.App .button {
  display: flex;
  margin: auto;
  margin-top: 10vh;
}

.App .display {
  margin-top: 10vh;
}

.App .description {
  display: inline-flexbox;
  margin: auto;
  margin-top: 10vh;
}



